/* YOUR CUSTOM SKIN */

/*Global */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #8C877D;
}

.wrapper {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  font-family: 'Lato' sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #BF5239;
}

h3 {
  text-align: center;
  font-family: 'Lato' sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #BF5239;
}



/* Your Custom Skin */
.wrapper {
  width: 80%;
  display: block;
  margin: 0 auto;

}

.video_container {
  width: 49.5%;
  display: inline-block;
  margin: 2.5% auto;
}

video, .mejs-wmp {
  margin: 0 auto;
  display: inline-block;

}



.mejs-wmp .mejs-controls .mejs-captions-button {
  margin: 0 7px;
}

.mejs-controls .mejs-button button {
  visibility: visible;
  cursor: pointer;
  display: block;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  margin: 7px 5px;
  padding: 0;
  position: absolute;
  height: 16px;
  width: 16px;
  border: 0;
  background: transparent url(../media/controls.svg) no-repeat;
}

.mejs-wmp .mejs-controls .mejs-captions-selector {
  background: rgba(56,64,71,0.98);
  width: 100px;
  right: auto;
}

.mejs-wmp .mejs-controls .mejs-time-rail {
  padding: 0;
}

.mejs-wmp .mejs-controls .mejs-time-rail span {
  height: 100%;
  border-radius: 0px;
}

.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-buffering,
.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-handle {
  background: #036B94;
  margin: 0;
}

.mejs-wmp .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #025373;
}

.mejs-container .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-float {
  border: none;
  background: none;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
  font-family: Helvetica, Arial;
  font-size: 13px;
  color: #FFF;
}

.mejs-controls {
  visibility: visible;
}






.mejs-container .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-float {
  border: none;
  background: none;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
  font-family: Helvetica, Arial;
  font-size: 13px;
  color: #FFF;
}








/* Animations on Show/Hide. Pick your own */
/* http://daneden.github.io/animate.css/ */

audio, video {
  -webkit-animation: rubberBand .5s;
  animation: rubberBand .5s;
}


@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}





